{% extends "./base.html" %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'employment_agent/employer_details.css'%}" />
{% endblock extra_head %}
{% block content %}
<div class="card my-3" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">{{employer.job_title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">
     Status: {% if employer.status %}
                        <span class="badge badge-primary">Occupied</span>
                      {% else%}
                       <spa class="badge badge-success">Vaccant</span>
                      {% endif %}
    </h6>
    <p class="card-text">{{employer.job_description}}</p>
    <p class="card-text"><a class="card-link" href="{{employer.resume.url}}">Download document</a></p>
    <h6 class="card-subtitle mb-2 text-muted">
    Due date: {{employer.date_needed}}
    </h6>
    {% if user.is_superuser %}
    <p class="card-text"> Name: {{ employer.firstname }} {{ employer.lastname }}</p>
    <p class="card-text">Phone number: {{ employer.phone_number }}</p>
    <p class="card-text">Email: <a class="card-link" href="mailto:{{employer.email_address }}">{{employer.email_address }}</a></p>
    <p class="card-text">Physical address: {{employer.physical_address }}</p>
    <a href="{% url 'edit-employer' employer.pk %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'delete-employer' employer.pk %}" class="btn btn-danger">Delete</a>
    {% endif %}
  </div>
</div>
{% endblock content %}
{% block extra_body %}
<script src="{% static 'employment_agent/employer_detail.js'%}"></script>
<script src="{% static 'employment_agent/employer_functions.js'%}"></script>
{% endblock extra_body %}