{% extends "./base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
  Employers
{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'employment_agent/employers.css'%}" />
{% endblock extra_head %} {% block content %}
<div>
    <div class="row my-3">
        <div class="col-md-3" id="sticky-sidebar">
           <div class="card sticky-top my-2" style="width: 100%;" >
            <div class="card-body">
                <h5 class="card-title">Search </h5>
                <form>
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}

                    {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:'form-control' }}
                        {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fas fa-search"></i> Search</button>
                </form>
            </div>
           </div>
        </div>
        <div class="col-md-9 my-2">
            <a  href="{% url 'create-employer' %}" class="btn btn-primary"><i class="fas fa-plus"></i> Add new employer</a>
            {% for employer in employers_list %}
            <div class="card my-2" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">{{employer.firstname}} {{employer.lastname}}</h5>
                    <h5>Job title: {{employer.job_title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted"> Status:
                      {% if employer.status %}
                        <span class="badge badge-primary">Occupied</span>
                      {% else%}
                       <spa class="badge badge-success">Vaccant</span>
                      {% endif %}
                    </h6>
                    <p class="card-text">
                        {{employer.job_description}}
                    </p>

                    <h6 class="card-subtitle mb-2 text-muted">
                        Due date: {{employer.date_needed}}
                    </h6>
                    <a href="{% url 'view-employer' employer.pk  %}" class="btn btn-secondary">View</a> {% if user.is_superuser %}
                    <a href="{% url 'edit-employer' employer.pk %}" class="btn btn-secondary">Edit</a>
                    <a href="{% url 'delete-employer' employer.pk %}" class="btn btn-danger">Delete</a> {% endif %}
                </div>
            </div>
            {% endfor %}
            <!--Now the pagination section-->
            {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">

                <span id="previous-ref">
                    {% if page_obj.has_previous %}
                    <a class="btn btn-primary" href="/employers?page={{page_obj.previous_page_number}}"> &laquo; previous</a>
                    {% endif %}
                </span>

                <span class="page-current">
                    Page <span id="current-page">{{ page_obj.number }}</span> of <span id="total-pages">{{ page_obj.paginator.num_pages }}</span>.
                </span>

                <span id="next-ref">
                    {% if page_obj.has_next %}
                    <a class="btn btn-primary" href="/employers?page={{page_obj.next_page_number}}">next &raquo;</a>
                    {% endif %}
                </span>

                </span>
            </div>
        </div>
    </div>
</div>
{% else %}
{% endif %} {% endblock content %}