{% extends "./base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
  Job seekers
{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'employment_agent/jobseekers.css'%}" />
{% endblock extra_head %}
{% block content %}
{% if jobseekers_list %}
<div class="row my-3">
        <div class="col-md-3">
            <div class="card sticky-top my-2" style="width: 100%;" >
                <div class="card-body">
                    <h5 class="card-title">Search </h5>
                    <form>
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}

                        {% for field in form.visible_fields %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field|add_class:'form-control' }}
                            {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fas fa-search"></i> Search</button>
                    </form>
                </div>
           </div>
        </div>
        <div class="col-md-9 my-2">
        <a  href="{% url 'create-job-seeker' %}" class="btn btn-primary"><i class="fas fa-plus"></i> Add new job seeker</a>
            {% for jobseeker in jobseekers_list %}
            <div class="card my-2" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">{{jobseeker.firstname}} {{jobseeker.lastname}}</h5>
                    <h5>Job title: {{jobseeker.job_title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Status:
                      {% if jobseeker.status%}
                        <span class="badge badge-success">Employed</span>
                      {% else %}
                        <span class="badge badge-primary">Unemployed</span>
                      {% endif %}
                    </h6>
                    <p class="card-text">
                        {{jobseeker.description}}
                    </p>

                    <h6 class="card-subtitle mb-2 text-muted">
                        Date applied: {{jobseeker.date_applied}}
                    </h6>
                    <a href="{% url 'view-job-seeker' jobseeker.pk  %}" class="btn btn-secondary">View</a> {% if user.is_superuser %}
                    <a href="{% url 'edit-job-seeker' jobseeker.pk %}" class="btn btn-secondary">Edit</a>
                    <a href="{% url 'delete-job-seeker' jobseeker.pk %}" class="btn btn-danger">Delete</a> {% endif %}
                </div>
            </div>
            {% endfor %}
            <!--Now the pagination section-->
            {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">

                <span id="previous-ref">
                    {% if page_obj.has_previous %}
                    <a href="/job_seekers?page={{page_obj.previous_page_number}}"> &laquo; previous</a>
                    {% endif %}
                </span>

                <span class="page-current">
                    Page <span id="current-page">{{ page_obj.number }}</span> of <span id="total-pages">{{ page_obj.paginator.num_pages }}</span>.
                </span>

                <span id="next-ref">
                    {% if page_obj.has_next %}
                    <a href="/job_seekers?page={{page_obj.next_page_number}}">next &raquo;</a>
                    {% endif %}
                </span>

                </span>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% else %}
<p id="no-employers-found-tag">
    <span>Nothing found</span>
    <button>Add new</button>
</p>
{% endif %}
{% endblock %}

{% block extra_body %}
<script src="{% static 'employment_agent/jobseeker_functions.js'%}"></script>
<script src="{% static 'employment_agent/search_jobseekers.js'%}"></script>
{% endblock extra_body %}