* {
    font-family: "Kumbh Sans", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5em;
}

p, input, label, span, a ,button, td, th  {
    font-size: 18px;
}


button {
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
    border: 2px solid #85c7f2;
    background-color: transparent;
    color: black;
    border-radius: 5px;
}


.pagination button {
    display: inline-block;
    background-color: #85c7f2;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
}


.icon{
    width: 32px;
    height: 32px;
}

@media screen and (max-width:900px) {
    .container {
        width: 100%;
        min-height: 80vh;
        position: relative;
    }

    .employers-list{
        margin: 10px auto;
        width: 95%;
        padding: 10px;
        border: 2px solid #85c7f2;
        border-radius: 5px;
    }

    .container table{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .container table tr th{
        text-align: left;
        padding: 10px 0;
        display: block;
    }
    .container table tr td{
        text-align: left;
        padding: 10px 0;
        display: block;
    }

    #no-employers-found-tag {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        color: #D1D1D1;
        text-align: center;
    }

    #no-employers-found-tag span {
        font-size: 200%;
        display: inline-block;
        padding: 20px;
    }

    #no-employers-found-tag button{
        display: block;
        width: fit-content;
        padding: 10px;
        background-color: #85C7F2;
        color: white;
        border-radius: 5px;
        margin: 10px auto;
        border: none;
        font-weight: bolder;
    }

    .pagination {
        text-align: center;
        padding: 10px;
    }
    .pagination a {
        display: inline-block;
        background-color: #85c7f2;
        text-decoration: none;
        color: white;
        padding: 10px;
        border-radius: 5px;
    }
}

@media screen and (min-width:900px) {
    .container {
        width: 100%;
        min-height: 80vh;
        position: relative;
    }

    .employers-list{
        margin: 10px auto;
        width: 95%;
        padding: 10px;
        border: 2px solid #85c7f2;
        border-radius: 5px;
    }

    .container table{
       width: 100%;
    }

    .container table tr #controls *{
    
    }

    
    .container table tr th{
        text-align: left;
        padding: 10px 0;
    }
    .container table tr td{
        text-align: left;
        padding: 10px 0;
    }
    #no-employers-found-tag {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        color: #D1D1D1;
        text-align: center;
    }

    #no-employers-found-tag span {
        font-size: 200%;
        display: inline-block;
        padding: 20px;
    }

    #no-employers-found-tag button{
        display: block;
        width: fit-content;
        padding: 10px;
        background-color: #85C7F2;
        color: white;
        border-radius: 5px;
        margin: 10px auto;
        border: none;
        font-weight: bolder;
    }

    .pagination {
        text-align: center;
        padding: 10px;
    }
    .pagination a {
        display: inline-block;
        background-color: #85c7f2;
        text-decoration: none;
        color: white;
        padding: 10px;
        border-radius: 5px;
    }
}

@media screen and (min-width:1370px) {
    .container {
        width: 1336px;
        margin: auto;
        position: relative;
        min-height: 700px;
    }

    .employers-list{
        margin: 10px auto;
        width: 95%;
        padding: 10px;
        border: 2px solid #85c7f2;
        border-radius: 5px;
    }

    .container table{
        width: 100%;
    }

    
    
    .container table tr th{
        text-align: left;
        padding: 10px 0;
    }
    .container table tr td{
        text-align: left;
        padding: 10px 0;
    }

    #no-employers-found-tag {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        color: #D1D1D1;
        text-align: center;
    }

    #no-employers-found-tag span {
        font-size: 200%;
        display: inline-block;
        padding: 20px;
    }

    #no-employers-found-tag button{
        display: block;
        width: fit-content;
        padding: 10px;
        background-color: #85C7F2;
        color: white;
        border-radius: 5px;
        margin: 10px auto;
        border: none;
        font-weight: bolder;
    }

    .pagination {
        text-align: center;
        padding: 10px;
    }
    .pagination a {
        display: inline-block;
        background-color: #85c7f2;
        text-decoration: none;
        color: white;
        padding: 10px;
        border-radius: 5px;
    }
}