* {
    font-family: "Kumbh Sans", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

p, a {
    font-size: 18px;
}

@media screen and (max-width: 900px) {
    .container {
        width: 100%;
        position: relative;
        min-height: 80vh;
        background-color: #fff;
    }
    .nav-links {
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .nav-links a {
        display: block;
        width: fit-content;
        padding: 10px;
        font-size: 30px;
        border: 2px solid #85C7F2;
        border-radius: 5px;
        margin: 10px;
        text-decoration: none;
        color: black;
    }
}

@media screen and (min-width: 900px) {
    .container {
        width: 100%;
        min-height: 80vh;
        position: relative;
    }
    .nav-links {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .nav-links a {
        display: inline-block;
        padding: 10px;
        font-size: 30px;
        border: 2px solid #85C7F2;
        border-radius: 5px;
        margin: 10px;
        text-decoration: none;
        color: black;
    }
}

@media screen and (min-width: 1370px) {
    .container {
        width: 1366px;
        min-height: 700px;
        margin: auto;
        position: relative;
    }
    .nav-links {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .nav-links a {
        display: inline-block;
        padding: 10px;
        font-size: 30px;
        border: 2px solid #85C7F2;
        border-radius: 5px;
        margin: 10px;
        text-decoration: none;
        color: black;
    }
}