/*
A navigation bar with background color of white
Button with background color of 85c7f2
*/

.navbar nav img{
    height: 50px;
}
/*For mobile phones*/

@media screen and (max-width: 900px) {
    .navbar {
        margin: 0;
        background: #fff;
        border-bottom: 1px solid #dbdbdb;
        padding-bottom: 10px;
    }
    .navbar nav {
        background-color: #fff;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: auto;
        margin-top: 10px;
    }
    .navbar nav #main-menu #logo {
        display: inline-block;
        padding: 10px;
        margin-left: 10px;
    }
    .navbar nav #actions {}
    .navbar nav #actions a {
        text-decoration: none;
        color: black;
        border-radius: 5px;
        font-weight: 600;
        display: inline-block;
        position: relative;
        height: 50px;
        width: 90px;
        float: right;
        margin-right: 10px;
        
    }

    .navbar nav #actions a:hover{
        color: #85c7f2;
        text-decoration: underline;
    }

    .link-text{
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

/* For laptop screens */

@media screen and (min-width: 900px) {
    .navbar {
        background: #fff;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 201;
        border-bottom: 1px solid #dbdbdb;
        padding-bottom: 10px;
    }
    .navbar nav {
        background-color: #fff;
        display: grid;
        grid-template-columns: 5fr 1fr;
        width: 100%;
        height: auto;
        margin-top: 10px;
    }
    .navbar nav #main-menu #logo {
        display: inline-block;
        margin-left: 10px;
    }
    .navbar nav #actions {}
    .navbar nav #actions a {
        text-decoration: none;
        color: black;
        border-radius: 5px;
        font-weight: 600;
        display: inline-block;
        position: relative;
        height: 50px;
        width: 90px;
        float: right;
        margin-right: 10px;
        
    }

    .navbar nav #actions a:hover{
        color: #85c7f2;
        text-decoration: underline;
    }

    .link-text{
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

/*For bigger screens */
@media screen and (min-width: 1370px) {
    .navbar {
        background: #fff;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 201;
        border-bottom: 1px solid #dbdbdb;
        padding-bottom: 10px;
    }
    .navbar nav {
        margin: auto;
        background-color: #fff;
        display: grid;
        grid-template-columns: 5fr 1fr;
        width: 1366px;
        height: auto;
        margin-top: 10px;
    }
    .navbar nav #main-menu #logo {
        display: inline-block;
        padding: 10px;
        margin-left: 10px;
    }
    .navbar nav #actions {}
    .navbar nav #actions a {
        text-decoration: none;
        color: black;
        border-radius: 5px;
        font-weight: 600;
        display: inline-block;
        position: relative;
        height: 50px;
        width: 90px;
        float: right;
        margin-right: 10px;
        
    }

    .navbar nav #actions a:hover{
        color: #85c7f2;
        text-decoration: underline;
    }

    .link-text{
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}